stages:
  - build
  - deploy

build-noarch:
  stage: build
  script:
    - conda mambabuild ./conda --output-folder=dist -c conda-forge --channel=http://bcu-ci.esrf.fr/stable
  artifacts:
    paths:
      - dist/
  tags:
    - conda
    - linux

deploy-devel:
  stage: deploy
  environment:
    name: devel/$CI_COMMIT_REF_NAME
    url: http://bcu-ci.esrf.fr/devel
  dependencies:
    - build-noarch
  script:
    - cp -Rf dist/* /conda-devel/
    - conda index --channeldata /conda-devel/
  tags:
    - linux
    - conda
  only:
    - branches
  except:
    - stable
  when: manual

deploy-stable:
  stage: deploy
  environment:
    name: production
    url: http://bcu-ci.esrf.fr/stable
  dependencies:
    - build-noarch
  script:
    - cp -Rf dist/* /conda/
    - conda index --channeldata /conda/
  tags:
    - linux
    - conda
  only:
    - tags
    - stable
